:root {
    font-size: 24px;
}

body {
    display: flex;
    flex-wrap: wrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
}

.heroSource {
    color: white;
    font-size: 0.7em;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 600;
}

.heroSource a {
    color: white;
}

.heroWrapper {
    background-image: url("./images/palm_trees.jpg");
    width: clamp(150px, 40%, 750px);
    background-position: center;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.headerText {
    background-color: rgb(20,20,20, 0.4);
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    margin-top: 20vh;
    padding: 2rem;
    color: white;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-family: 'Alumni Sans Collegiate One', sans-serif;
}

legend {
    font-size: 1rem;
    padding: 2%;
    color: black;
}

li {
    list-style: none;
}



.contentWrapper {
    width: 60%;
    background-color: rgb(240, 244, 245);
    display: flex;
    flex-direction: column;
}

form {
    font-size: 0.5rem;
    width: 100%;
    color: gray;
    font-weight: 600;
}

fieldset {
    border-style: none;
    display: flex;
}

input {
    border-radius: 5px;
}

.formBody {
    background-color: white;
    width: 100%;
    padding: 10px;
    box-shadow: 5px 3px 3px black;
}

#odinLogo {
    width: 3rem;
}

.introText {
    width: 80%;
    padding: 2rem;
    font-size: 1.3rem;
    margin-top: 10%;
}